#Creating Lists

In [18]:
# Literal
lst = [1, 2, 3, "a", True]

# Constructor from iterable
lst2 = list((4, 5, 6))
lst3 = list("hello")  # ['h', 'e', 'l', 'l', 'o']

# Repeated values
lst4 = [0] * 5  # [0, 0, 0, 0, 0]

#Access & Slicing

In [19]:
a = ["apple", "banana", "cherry", "date"]

# Indexing
print(a[0], a[-1])      # apple date

# Slicing
print(a[1:3])           # ['banana', 'cherry']
print(a[:2], a[2:])     # ['apple', 'banana'] ['cherry', 'date']
print(a[::2])           # ['apple', 'cherry']

apple date
['banana', 'cherry']
['apple', 'banana'] ['cherry', 'date']
['apple', 'cherry']

#Iteration

In [ ]:
for item in lst:
    print(item)

idx = 0
while idx < len(lst):
    print(lst[idx])
    idx += 1

# List Comprehensions

In [ ]:
# Squares
squares = [x**2 for x in range(10)]

# Conditionals
evens = [x for x in range(10) if x % 2 == 0]

# Nested loops
pairs = [(x, y) for x in [1,2] for y in [3,4] if x != y]

# List Methods (Mutating In-Place)

```
# Method	Example & Behavior
append()	lst.append(4) → adds 4 to end
extend()	lst.extend([5, 6]) → appends elements
insert()	lst.insert(1, "x") → inserts "x" at index 1
pop()	   lst.pop() → removes & returns last item
            lst.pop(2) → removes item at index 2
remove()	lst.remove("a") → removes first occurrence
clear()	 lst.clear() → empties list
index()	 lst.index("b") → gives first index of "b"
count()	 lst.count(2) → counts occurrences of 2
reverse()   lst.reverse() → reverses list in place
sort()	  lst.sort() → sorts in place
copy()	  lst2 = lst.copy() → shallow copy
```

In [ ]:
# Sample code
lst = [3, 1, 4, 1, 5]

lst.append(9)
lst.extend([2, 6])
lst.insert(2, 'x')
print(lst.pop(), lst.pop(2))
lst.remove(1)
print(lst.index(5), lst.count(1))
lst.reverse()
lst.sort()
lst2 = lst.copy()

#Combining & Repetition

In [ ]:
a = [1, 2]
b = [3, 4]
c = a + b        # concatenation
a += b           # extend in-place

# Utility Functions

In [ ]:
len(lst)         # size
min(lst), max(lst)  # minimum, maximum
sorted(lst)      # returns a new sorted list

# Copying and Nested Structures

In [ ]:
orig = [1, [2, 3], 4]
shallow = orig.copy()  # outer copy only
deep = import copy; copy.deepcopy(orig)

# Nested access
print(orig[1][0])       # accesses 2

#EXAMPLE CODE

In [20]:
from copy import deepcopy

# 1. Create
lst = [1, 2, 3]
lst2 = list((4, 5, 6))
lst3 = lst + lst2

# 2. Access/Slice
print(lst3[0], lst3[-1], lst3[2:5])

# 3. Iterate
for x in lst3:
    print(x)

# 4. Comprehension
squares = [x**2 for x in lst3 if isinstance(x, int)]

# 5. Mutate
lst3.append(7)
lst3.extend([8, 9])
lst3.insert(0, 0)
popped = lst3.pop()
lst3.remove(2)
print(lst3.index(5), lst3.count(3))
lst3.reverse()
lst3.sort()
lst_copy = lst3.copy()

# 6. Utility
print(len(lst3), min(lst3), max(lst3), sorted(lst3, reverse=True))

# 7. Copy vs deepcopy
nested = [1, [2, 3], 4]
shallow = nested.copy()
deep = deepcopy(nested)
nested[1][0] = 'changed'
print(shallow, deep)

1 6 [3, 4, 5]
1
2
3
4
5
6
4 1
8 0 8 [8, 7, 6, 5, 4, 3, 1, 0]
[1, ['changed', 3], 4] [1, [2, 3], 4]